@{
    ViewData["Title"] = "Square Root Calculator";
}

<div class="text-center">
    <h1 class="display-4">Square Root Calculator</h1>
    <p>Calculate and Compare the Square Root of two numbers</p>   
</div>

<div class= "text-center">
    <p>Enter your numbers</p>
    <form asp-controller="Web" asp-action="SquareRoot" method="POST">

        <input type="number"
        asp-action="SquareRoot"
        placeholder= "First Number" 
        asp-controller="Web"
        name = "FirstNumber"/>

        <input type="number"
         placeholder= "Second Number"
         asp-action="SquareRoot"
         asp-controller="Web"
        name = "SecondNumber"/>
          
        <button type = " submit">Calculate</button> 

    </form>    
</div>



@{ if (ViewBag.first != null && ViewBag.second != null)
    {
        <div class="text-center">
            @{
                if (@ViewBag.first > @ViewBag.second)
                {
                    <h3 class="text-success">
                        The number @ViewBag.one with square root
                        @ViewBag.first has a higher square root
                        than the number @ViewBag.two with
                        square root @ViewBag.second
                    </h3>
                }
                else if (@ViewBag.second > @ViewBag.first)
                {
                    <h3 class="text-success">
                        The number @ViewBag.two with square root
                        @ViewBag.second has a higher square root
                        than the number @ViewBag.one  with
                        square root @ViewBag.first
                    </h3>
                }
                else if (@ViewBag.first == @ViewBag.second)
                {
                    <h3 class="text-success">
                        The number @ViewBag.one with square root
                        @ViewBag.first is equal to the number
                        @ViewBag.two with square root @ViewBag.second.
                    </h3>
                    <p class="text-success">Please try a different number!!!</p>
                }

            }
        </div>
    }
}

@{ if (ViewBag.NegNumError != null)
    {
        <div class=" = text-center">
            <h3 class="text-danger">
                @ViewBag.NegNumError
            </h3>
        </div>
    }
}


@{ if (ViewBag.errorMessageEmpty != null)
    {
        <div class=" = text-center">
            <h3 class="text-danger">
                @ViewBag.errorMessageEmpty
            </h3>
        </div>
    }
}


@{ if (ViewBag.alphaError != null)
    {
        <div class=" = text-center">
            <h3 class="text-danger">
                @ViewBag.alphaError
            </h3>
        </div>
    }
}

